body,
html { 
    margin: 0;
    padding: 0;
}


/*LOGO AND HEADER*/
.wrapper-nav {
    top: 0;
    position: fixed;
    border-right: solid rgb(235, 235, 235) 4px;
    border-bottom: solid rgb(235, 235, 235) 4px;
    background-color: white;
    padding: 0.9em;
    z-index: 1;
}

.nav-logo {
    opacity: 1;
    width: 3em;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.wrapper-nav:hover .nav-logo {
    opacity: 0;
}

.nav-logo-middle {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    position: relative;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: ease-in-out .3s;
    transform: translate(-50%, -50%);
}

.wrapper-nav:hover .nav-logo-middle {
    opacity: 1;
}

.nav-logo-txt {
    font-size: 0.8em;
}

.wrapper-header {
    width: auto;
    height: 30em;
    background-color: white;
    position: relative;
}

.header-img {
    position: absolute;
    right: 55%;
    bottom: 14%;
}

.header-title {
    font-family: 'Anton', sans-serif;
    font-size: 5em;
    line-height: 115%;
    text-shadow: 1px 5px rgb(255, 153, 204);
    position: absolute;
    left: 47%;
    top: 70%;
}


/*ARTICLE*/
.wrapper-article-about,
.wrapper-article-ancient,
.wrapper-article-europe,
.wrapper-article-19th,
.wrapper-article-today {
    width: 45%;
    margin: 0 auto;
    padding: 4em;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9em;
    line-height: 2.5em;
    text-align: justify;
}

.article-about-bg {
    width: auto;
    height: 21em;
    background-color: turquoise;
}

.article-ancient-bg {
    width: auto;
    background-color: yellow;
}

.article-europe-bg {
    width: auto;
    background-color: rgb(162, 255, 41);
}

.article-19th-bg {
    width: auto;
    background-color: rgb(255, 153, 204);
}

.article-today-bg {
    width: auto;
    background-color: white;
}

blockquote {
    margin: 0 auto;
    font-size: 1.3em;
    width: 20em;
}

.article-about-content {
    width: 80%;
    font-size: 0.9em;
    top: 3em;
    position: relative;
    line-height: 190%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

p::first-letter {
    font-size: 1.4em;
}

.article-img-left:hover {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}


/*BOTTOM*/
.bottom-img {
    margin-left: 200px;
}

.bottom-txt {
    text-align: center;
    bottom: 0;
    font-size: 0.8em;
    padding: 1em;
}

a {
    color: black;
}


/*DIFFERENT RESOLUTION. I'm not done with this yet.*/
@media(max-width: 768px) {

    header {
        display: inline-flex;
    }

    .wrapper-article-about,
    .wrapper-article-ancient,
    .wrapper-article-europe,
    .wrapper-article-19th,
    .wrapper-article-today,
    blockquote,
    p,
    h1,
    .article-about-content,
    .bottom-txt {
        width: auto;
    }

    .wrapper-nav, .bottom-img, .header-img {
        display: none;
    }

    .header-title {
        font-size: 4.5em;
    }

}
