/*By Victoria Charlotte Pettersen > github.com/machinehug & machinehug.com*/

/* ==========================================================================
   GLOBAL
   ==========================================================================*/

@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

/* ==========================================================================
      HEADER & NAV
      ==========================================================================*/

.wrapper-header {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20em 0;
}

.header-title-wrapper {
    display: flex;
    align-items: center;
}

.header-title {
    font-family: 'Anton', sans-serif;
    font-size: 5em;
    line-height: 115%;
    text-shadow: 1px 5px rgb(255, 153, 204);
}

/* ==========================================================================
      ARTICLES
      ==========================================================================*/

.wrapper-article {
    max-width: 70em;
    margin: 0 auto;
    padding: 2em;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6em;
    line-height: 2.5em;
    text-align: justify;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

p::first-letter {
    font-size: 1.4em;
}

.quote {
    font-size: 1.3em;
    max-width: 20em;
    text-align: left;
}

.article-img-left:hover {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.article-about-bg {
    background-color: turquoise;
    padding: 10em 0;
}

.article-about-content {
    font-size: 1em;
    line-height: 190%;
    margin: 0 auto;
    max-width: 35em;
}

.article-ancient-bg {
    background-color: yellow;
}

.article-europe-bg {
    background-color: rgb(162, 255, 41);
}

.article-19th-bg {
    background-color: rgb(255, 153, 204);
}

.article-today-bg {
    background-color: white;
}

/* ==========================================================================
      BOTTOM
      ==========================================================================*/

.bottom-img {
    width: 12em;
    padding-top: 4em;
}

footer {
    font-size: 1.4em;
    text-align: center;
    padding: 4em 0;
}

footer a {
    color: red;
}